body{
	font-family: Ubuntu;
}
a:hover{
	color: blue;
}
.images{
	width: 128px;
	height: 128px;
	margin: 3px;
}
.deep{
	padding-top: 5%;
	background-image: url("img/glossy.png");
	width: 320px; height: 320px;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 140px;
}
.deep2{
	padding-top: 5%;
	background-image: url("img/glossy.png");
	width: 320px; height: 320px;
	font-weight: 32px;
	font-size: 62pt;
	color: transparent;
	background-repeat: no-repeat;
	padding-bottom: 140px;
}
.right{
	padding-top: 5%;
	background-image: url("img/mate.jpg");
	width: 320px; height: 320px;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 140px;
}
.right2{
	padding-top: 5%;
	background-image: url("img/mate.jpg");
	width: 320px; height: 320px;
	font-weight: 32px;
	font-size: 62pt;
	color: transparent;
	background-repeat: no-repeat;
	padding-bottom: 140px;
}
.deep2:hover{
	color: white;
	font-weight: bold;
	padding-bottom: 140px;
}
.right2:hover{
	color: white;
	font-weight: bold;
	padding-bottom: 140px;
}
